* {
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: url('images/Fallout-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 350px;
  margin: 0;
}

h1, h2 {
  color: #fff;
  padding-left: 5%;
}

h1 {
  font-size: 3em;
  padding-top: 8%;
}

h2 {
  font-size: 2em;
  padding-bottom: 8%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

footer {
  background-color: #151515;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.halfHeader {
  width: 50%;
  align-self: flex-start;
}

.bottomHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rotationContainer {
  left: 0;
  padding: 40px 0;
  position: relative;
  width: 20%;
}

.rotation {
  background-color: #F0AD2F;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  transform: rotate(-90deg);
  width: 100px;
}

.textContainer {
  width: 80%;
}

.weight-100 {
  font-weight: 100;
}

.yellow {
  color: #F0AD2F;
}

.vertical-bar {
  align-self: flex-start;
  background-color: #F0AD2F;
  height: 280px;
  margin: 25px 0;
  width: 8px;
}

.text-right {
  align-self: center;
  padding: 0 40px;
  width: 90%;
}

.engrenage {
  background-color: #151515;
  width: 33%;
}

.engrenage > p {
  background-image: url(images/Fallout-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 25px;
  padding: 18%;
  position: relative;
}

.guy {
  background-color: #151515;
  height: 200px;
  width: 33%;
}

.guy > img {
  bottom: 25px;
  height: 100%;
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.textFooter {
  background-color: #151515;
  width: 33%;
}

.handWriting {
  text-align: center;
  font-family: cursive;
  color: #fff;
  font-size: 32px;
}

.center {
  padding-top: 15%;
  text-align: center;
  line-height: 1.3rem;
}

.center > span {
  font-size: 18px;
}

/* @media screen and (min-width: 992px) and (max-width: 1200px){
  .rotationContainer {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .rotationContainer {
    padding-top: 80px;
  }
  .textContainer {
    font-size: 1em;
  }
  .vertical-bar {
    margin: 15px 0;
    height: 350px;
  }
  .text-right {
    width: 85%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 375px;
  }
  .bottomHeader {
    width: 100%;
  }
  .rotationContainer {
    padding-top: 80px;
  }
  .rotation {
    font-size: 1.5em;
    width: 140px;
  }
  .textContainer {
    margin-left: 10%;
    width: 70%;
  }
  .text-right {
    width: 85%;
    margin-bottom: 50px;
  }
  .vertical-bar {
    height: 400px;
  }
} */