* {
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: url('images/Fallout-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  height: 350px;
  margin: 0;
}

h1, h2 {
  color: #fff;
  padding-left: 5%;
}

h1 {
  font-size: 3em;
  padding-top: 8%;
}

h2 {
  font-size: 2em;
  padding-bottom: 8%;
}

main {
  clear: both;
}

footer {
  background-color: #151515;
  background-size: cover;
  clear: both;
  display: flex;
}

.halfHeader {
  width: 50%;
  float: left;
}

.bottomHeader {
  width: 100%;
}

.rotationContainer {
  float: left;
  left: 0;
  padding: 40px 0;
  position: relative;
  width: 20%;
}

.rotation {
  display: block;
  height: 40px;
  width: 100px;
  transform: rotate(-90deg);
  background-color: #F0AD2F;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.textContainer {
  float: left;
  width: 80%;
}

.weight-100 {
  font-weight: 100;
}

.yellow {
  color: #F0AD2F;
}

.vertical-bar {
  background-color: #F0AD2F;
  float: left;
  height: 250px;
  margin: 25px 0;
  width: 8px;
}

.text-right {
  width: 90%;
  float: right;
}

.engrenage {
  background-color: #151515;
  float: left;
  width: 33%;
}

.engrenage > p {
  background-image: url(images/Fallout-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.guy {
  background-color: #151515;
  float: left;
  height: 200px;
  width: 33%;
}

.guy > img {
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.textFooter {
  background-color: #151515;
  width: 33%;
  float: left;
}

.handWriting {
  text-align: center;
  font-family: cursive;
  color: #fff;
  font-size: 32px;
}

.center {
  padding-top: 15%;
  text-align: center;
  line-height: 1.3rem;
}

.center > span {
  font-size: 18px;
}